html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h2 {
  padding: 20px;
  text-align: center;
  font-family: fantasy;
}
.cervece {
  width: 50%;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  margin-top: 8vh;
}
.form-img {
  width: 100%;
  max-height: 50vh;
}
.h3 {
  padding: 20px;
  font-family: fantasy;
}
.select {
  padding: 20px;
}
.text1,
.text2,
.text3,
.text4,
.text5 {
  padding: 20px;
  background-color: rgba(220, 70, 20, 0.479);
}

select {
  width: 20vw;
  height: 4vh;
}
.radio {
  padding: 10px 20px;
}
.checkbox {
  display: flex;
}
.checkbox1 {
  flex-grow: 1;
  padding: 10px 20px;
}
.checkbox2 {
  flex-grow: 1;
  padding: 10px 20px;
}
.sec {
  padding: 20px;
}
.order-button {
  width: 30vw;
  height: 4vh;
}
.form-teslim {
  background-color: rgb(227, 227, 227);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: rgb(11, 10, 10);
  padding: 5px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10vw;
}

.text-istek {
  width: 40vw;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  margin-left: 4vw;
}

.ekle {
  display: flex;
  justify-content: space-evenly;
  margin: 6vh 0;
}
.medium {
  font-size: medium;
}
.small {
  font-size: small;
}
p {
  font-family: cursive;
}
